* {
    box-sizing: border-box;
}

body {
    font-family: 'Tulpen One', cursive;
    font-size: 16px;
    line-height: 1.5em;
}

main {
    display: table;
    width: 70%;
    margin: 10px auto;
    overflow: auto
}

p {
    margin: 10px 0;
    line-height: 1.5em;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0 10px 0;
    line-height: 1em;
    font-family: 'Bricolage Grotesque', sans-serif;
}

h4 {
    font-size:1.6em;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.content-header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.content-footer {
    border-top: 1px solid #DDD;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

header {
    border-bottom: 8px solid;
    color: #4EA0D9;
}

#CIlogo{
    display: block;
    margin: auto;
}

#alku {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    color: #333;
}

#vasen {
    float: left;
    width: 45%;
}  
#vasen ul li {
    margin-bottom: 30px;
}
#vasen ul img {
    float: left;
    margin-right: 10px;
}
#vasen ul h4 {
    padding-top: 5px;
}

#oikea {
    float: right;
    width: 48%;
}



#yhteystiedot {
    padding: 30px 20px 20px 20px;
    border: 4px solid #4EA0D8;
    overflow: auto;
    background: #F4F4F4;
    border-radius: 10px;
}
#yhteystiedot label {
    margin-bottom:20px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
#yhteystiedot input[type='text'],
#yhteystiedot input[type='email'] {
    height: 25px;
    width: 50%;
    border: 1px solid #CCC;
    border-radius: 5px;
}
#yhteystiedot input[type='submit'] {
    display: block;
    float: right;
    padding: 12px 17px;
    background: #FA6E5A;
    color: #FFF;
    border: 0;
    border-radius: 5px;
}
#yhteystiedot input[type='submit']:hover {
    background: #D55427;
    cursor: pointer;
}


#loppu {
    display: table-row;
    margin: 40px 0;
    color: #808080;
}
#loppu p {
    width:95%;
}
#loppu img {
    float: left;
    margin-right: 20px;
    margin-bottom:20px;
}

#main-footer {
    border-top: 1px solid #CCC;
    text-align: center;
    color: #AAA;
}

@media (max-width:1023px) {
    #container {
        width: 80%;
    }

    h1 {
        font-size: 1.8em;
    }
    
    h4 {
        font-size:1.4em;
    }

    #vasen, #oikea {
        width: 100%;
        clear: both;
        float: left;
    }

        #vasen li {
            width: 80%;
            margin: 0 auto 30px;
            padding: 8px;
            background: #EEE;
            border-radius: 5px;
        }

        #vasen img {
            margin-top: 10px;
        }

    #loppu img {
        display: block;
        margin: 20px auto;
        float: none;
    }
}

@media (max-width: 799px) {

    h1{
        font-size:1.6em;
    }
    
    h4 {
        font-size: 1.2em;
    }

    #vasen, #oikea {
        width: 100%;
        clear: both;
    }

    #yhteystiedot {
        clear: both;
        padding: 20px 30px 30px 30px;
    }
}

@media (min-width: 479px) {
    h1 {
        font-size: 1.6em;
    }

    h4 {
        font-size: 1.2em;
    }
}
