table {
    border-collapse: collapse;
    width:500px;
}
    table thead th, thead td {
        background-color: #cbc9c9;
        font-weight: bold;
    }

    table td {
        border: 1px solid #88d7d7;
        text-align: right;
    }
    
    table tbody tr:nth-child(even) {
        background-color: #f0f5f4;
    }

    table tbody tr:nth-child(odd) {
        background-color: #8ed1d5;
    }
    th {
        text-align:left
    }