body {
    background-color:#684CB4;
}
header {
    background-color: #7D63C4;
    margin: 20px 10px 10px 10px;
    height: 90px;
    
}


header h1 {
        margin: 20px 0 0 20px;
        color: #FFF;
        padding:15px
    }

header nav {
        background-color: #9680D5;
        height: 20px;
        width: 500px;
        margin: -14px 0 0 300px;

        
    }

nav li {
    float: left;
    padding: 0 10px;
    list-style-type: none;
}

article {
    float:left;
    margin:10px 10px 10px 10px;
    background-color:#573AA8;
    color:#FFF;
    width:40%;
    padding:5px;
    
    }

aside {
   float:right;
    width: 10%;
    background-color: #573AA8;
    color: #FFF;
    margin:0 10px 0 0;
    padding:5px;
}

section{
    background-color:#573AA8;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: #7D63C4;
    height:20px;
    width:100%;
    padding:10px
}
#lahde{
    float:right;
}
